.doc__menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: black;
    padding: 5px;
}
